<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starfire.familytree.basic.mapper.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.starfire.familytree.basic.entity.Dict">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="edit_time" property="editTime"/>
        <result column="editor" property="editor"/>
        <result column="valid" property="valid"/>
        <result column="code" property="code"/>
        <result column="dis" property="dis"/>
        <result column="name" property="name"/>
        <result column="num_value" property="numValue"/>
        <result column="remark" property="remark"/>
        <result column="value" property="value"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>
    <select id="page" resultMap="BaseResultMap">
        select * from basic_dict where 1=1
        <if test="param!=null and param.code!=null">
            and code like CONCAT(#{param.code},'%')
        </if>
        <if test="param!=null and param.name!=null">
            and name like CONCAT(#{param.name},'%')
        </if>
    </select>
    <select id="getParentDict" resultMap="BaseResultMap">
        select * from basic_dict where 1=1
        <if test="name!=null">
            and name like CONCAT(#{param.name},'%')
        </if>
    </select>

    <select id="getDict" resultMap="BaseResultMap">
        select * from basic_dict where code=#{code}
    </select>
    <select id="getSubDictListByParentCode" resultMap="BaseResultMap">

        select a.* from basic_dict a left join basic_dict b on  a.parent_id=b.id where b.code=#{code}

    </select>

</mapper>
