<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starfire.familytree.basic.mapper.RegionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.starfire.familytree.basic.entity.Region">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="edit_time" property="editTime"/>
        <result column="editor" property="editor"/>
        <result column="valid" property="valid"/>
        <result column="area_code" property="areaCode"/>
        <result column="code" property="code"/>
        <result column="full_name" property="fullName"/>
        <result column="name" property="name"/>
        <result column="post_code" property="postCode"/>
        <result column="remark" property="remark"/>
        <result column="short_name" property="shortName"/>
        <result column="area_id" property="areaId"/>
        <result column="type_id" property="typeId"/>
    </resultMap>
    <select id="page" resultMap="BaseResultMap">
        select * from basic_region where 1=1
        <if test="param!=null and param.areaCode!=null">
            and area_code like CONCAT(#{param.areaCode},'%')
        </if>
        <if test="param!=null and param.fullName!=null">
            and full_name like CONCAT(#{param.fullName},'%')
        </if>
        <if test="param!=null and param.shortName!=null">
            and short_name like CONCAT(#{param.shortName},'%')
        </if>
    </select>

</mapper>
