<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starfire.familytree.security.mapper.RoleMenuRightMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.starfire.familytree.security.entity.RoleMenuRight">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="edit_time" property="editTime"/>
        <result column="editor" property="editor"/>
        <result column="valid" property="valid"/>
        <result column="menu_id" property="menuId"/>
        <result column="menu_right_id" property="menuRightId"/>
        <result column="role_menu_id" property="roleMenuId"/>
    </resultMap>
    <delete id="deleteByMenuId">
        delete from security_role_menu_right where menu_id=#{menuId}
    </delete>
    <select id="getCheckedMenuByRoleId" resultType="map">
		select b.menu_id,b.menu_right_id,b.role_menu_id,c.parent from security_role_menu a  right join security_role_menu_right b on b.menu_id=a.menu_id left join security_menu c on a.menu_id=c.id where a.role_id=#{roleId}
	</select>
    <select id="getPermission" resultType="java.lang.String">
    select CONCAT(c.`code`,'.',d.`code`) as permission
    from security_role_menu a
    left join security_menu c on a.menu_id=c.id
    LEFT JOIN security_menu_right d ON a.menu_id=d.menu_id where a.role_id=#{roleId} ORDER BY a.menu_id
    </select>
    <select id="getPermissionForAdmin" resultType="java.lang.String">
    select CONCAT(c.`code`,'.',d.`code`) as permission
    from  security_menu c
    LEFT JOIN security_menu_right d ON c.id=d.menu_id where c.type=1 and c.valid=1 ORDER BY c.id
    </select>
</mapper>
