<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starfire.familytree.security.mapper.UserMenuRightMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.starfire.familytree.security.entity.UserMenuRight">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="edit_time" property="editTime"/>
        <result column="editor" property="editor"/>
        <result column="valid" property="valid"/>
        <result column="menu_id" property="menuId"/>
        <result column="menu_right_id" property="menuRightId"/>
        <result column="user_menu_id" property="userMenuId"/>
    </resultMap>
    <select id="getCheckedMenuByUserId" resultType="map">
		select a.menu_id,b.menu_right_id,b.user_menu_id,c.parent from security_user_menu a  left join security_user_menu_right b on b.menu_id=a.menu_id left join security_menu c on a.menu_id=c.id where a.user_id=#{userId}
	</select>
    <delete id="deleteByMenuId">
        delete from security_user_menu_right where menu_id=#{menuId}
    </delete>
    <delete id="deleteByUserMenuId">
        delete from security_user_menu_right where user_menu_id=#{userMenuId}
    </delete>
</mapper>
